@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Yanone+Kaffeesatz&display=swap');

body {
	 background: no-repeat url(../img/background_todo.jpg);
    color: #757575;
	 font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #0E0117;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.3);
}

button:active {
    background-color: rgba(158,158,158,.5);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

input {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #0E0117;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

main {
	 opacity: 0.9;
    width: 80%;
    margin: 70px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #FFF154;
    text-align: center;
    text-transform: uppercase;
	 font-family: 'Exo 2', sans-serif;
}

header h1 {
    display: inline-block;
    color: #323330;
    margin: 1rem auto;
	 font-size: 2.5rem;
}

@media (max-width: 1144px) {
	button {
		font-size: 20px;
	}
}

@media (max-width: 975px) {
	button {
		font-size: 15px;
	}
}

@media (max-width: 769px) { 

	main {
		width: 95%;	
  }
	header h1 {
		font-size: 2rem;
	}
	button {
		font-size: 12px;
		padding: 0 5px;
		min-width: 0px;
	}
	input {
		font-size: 1.2rem;
   }
 }

 @media (max-width:426px) {
	button {
		font-size: 8px;
	}
	header h1 {
		font-size: 1.5rem;
	}

	input {
		font-size: 1rem;
   }
}

/* Todo Item */
.todo-item {
    display: flex;
    font-size: 1.8rem;
	 color: #0E0117;
    border-top: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-item.completed * {
    color: lightgray;
}


.todo-item .checkbox {
    margin-right: .5rem;
	 height: 1.5rem;
	 width: 1.5rem;
}

.todo-item .title,
.todo-item .textfield {
    margin-right: auto;
}

.todo-item.completed .title {
    text-decoration: line-through;
}

.todo-item.editing .title {
    display: none;
}

.todo-item .textfield {
    display: none;
}

.todo-item.editing .textfield {
    display: block;
}

.todo-item button {
    opacity: 0;
    transition: all .2s;
}

.todo-item:hover button:not(.checkbox) {
    opacity: 1;
}

@media (max-width: 1144px) {
	.todo-item {
		font-size: 1.7rem;
	}
}

@media (max-width: 975px) {
	.todo-item {
		font-size: 1.5rem;
	}
	.todo-item .checkbox {
		height: 1.2rem;
		width: 1.2rem;
  }
}


@media (max-width: 769px) {
	.todo-item {
		font-size: 1rem;
		padding: 0.5em;
	}

   .todo-item .checkbox {
		height: 1rem;
		width: 1rem;
}
}

@media (max-width:426px) {
	.todo-item {
		font-size: 0.8rem;
	}
}

/* Todo form */

#todo-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 10px;
}

#todo-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
	 border: 1px solid rgba(0,0,0,.5);
}

#todo-form input:focus {
    border: 2px solid rgba(0,0,0,.5);
}

#todo-form button {
	 margin: 8px 10px;
}

@media (max-width:769px) {
	#todo-form {
		height: 40px;
  }
  #todo-form button {
	margin: 0px 10px;
}
}

@media (max-width:426px) {
	#todo-form {
		height: 30px;
		padding: 5px;
  }
  #todo-form button {
		margin: 0px 0px 0px 5px;
		font-size: 10px;
		height: 30px;
		line-height: 0px;
  }
}
